/* Part of this CSS for collapseable div is from https://www.digitalocean.com/community/tutorials/css-collapsible but I've altered it for my purposes*/

ol {
  border-radius: 4px;
  padding-top: 4px;
  justify-self: center;
  background-color: rgb(69, 73, 95);
  /* -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, .1)
      );
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top, bottom; */
}
li {
  background-color: rgb(69, 73, 95);
  text-align: start;

  width: auto;

  padding-bottom: 2px;
  margin-left: 2px;
  margin-right: 12px;
  text-overflow:inherit;
}
.observable-li {
  cursor: pointer;
  padding: 2px;
  user-select: none;
  transition: all 0.2s;
}
.observable-li:hover {
  /* background: rgb(255, 41, 84); */
  background: rgb(10, 12, 23);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  /* text-shadow: 1px 1px rgb(42, 46, 65); */
}
dt {
  /* align-self: center;
  justify-self: center;
  padding: 0;
  text-align: center;
  text-justify: center; */
  margin-top: 12px;
  margin-bottom: 12px;
  padding-bottom: 4px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  /* background-color: red; */
  margin-right: 24px;
}

a:-webkit-any-link {
  color: rgb(204, 204, 204);
  cursor: pointer;
  text-decoration: underline;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  user-select: none;

  font-size: 22px;
  text-shadow: 1px 1px rgb(42, 46, 65, .5);
  /* outline: 1px solid rgb(10, 12, 23); */
  text-align: center;

  padding: 1rem;

  /* background: linear-gradient(rgba(226, 129, 65, 0.8), rgb(197, 4, 43)); */
  background: linear-gradient( hsl(279, 69%, 71%), hsl(348, 100%, 58%) );

  cursor: pointer;

  border-radius: 4px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  opacity: 0.95;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-right: 1vw;
  transform: translateY(-1px);

  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  margin-bottom: 12px;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

/* .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
} */

/* .collapsible-content .content-inner {
    background: rgba(250, 224, 66, .2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
} */
